@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --font-main: "Inter", sans-serif;
  --color-primary: "#db4444";
  --color-dark-1: "#000";
  --color-dark-2: "#7d8184";
  --color-white-1: "#fff";
  --color-white-2: "#f5f5f5";
  --color-green: #00d656;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* 1 rem 10px  */
}
body {
  font-family: var(--font-main, "Inter", sans-serif);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* top nav  */

.top_nav {
  width: 100%;
  height: 4rem;
  background-color: #000;
}
.top_nav.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.top_nav_p {
  font-size: 1.4rem;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

/* nav  */
.nav {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #7d8184;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000;
}
.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_item {
  margin: 0 0.5rem;
}
.nav_link {
  color: #000;
  padding: 0.6rem;
}
.nav_items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}
.nav_form {
  padding: 0.8rem;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
}
.nav_search {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}
.nav_input {
  padding: 0.4rem;
  background: transparent;
  outline: none;
  border: none;
}
.top_nav_icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #000;
}

/* header  */

.header_container {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_filter_link {
  color: #000;
}

/* section  */
.section {
  margin-top: 10rem;
}

/* flash sale  */
.section_category_p {
  border-left: 1.4rem solid #db4444;
  padding-left: 1.5rem;
  color: #db4444;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.section_title {
  margin-right: 2rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.8rem;
  letter-spacing: 0.1rem;
}
#demo {
  font-size: 5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-left: 3rem;
  letter-spacing: 0.3rem;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

/* card  */
.card {
  margin-bottom: 4rem;
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background: #db4444;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}
.card_top_icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10rem;
  cursor: pointer;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card_price {
  color: #db4444;
  margin-bottom: 1rem;
}
.card_ratings {
  display: flex;
}
.star {
  width: 2rem;
  height: 2rem;
  color: rgb(239, 140, 1);
  fill: rgb(239, 140, 1);
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background: #db4444;
  color: #fff;
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}
/* Categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;
}
.category {
  text-align: center;
  padding: 3rem;
  border: 1px solid #f5f5f5;
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.category:hover {
  background: #db4444;
  color: #fff;
}
.category_icon {
  width: 3.5rem;
  height: auto;
}
.category:hover .category_icon {
  fill: #fff;
}

/* Tranding */
.trending {
  background: #000;
  padding: 6rem 3rem;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  align-items: center;
}
.trending_img {
  width: 100%;
}
.trending_p {
  color: #00d656;
}
.trending_title {
  color: #fff;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: #00d656;
  padding: 1rem 2rem;
  color: #fff;
}
